@{
    ViewData["Title"] = "Actividades";
}
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap Icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
<!-- SimpleLightbox plugin CSS-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">club</span>
        <span class="site-heading-lower">Defensores de tablada</span>
    </h1>
</header>

<body>
    <!--Lado Izquierdo-->
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Escuela</span>
                            <span class="section-heading-lower">De Natación</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/images/pileta.jpeg" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">
                            <strong>
                                ¿Queres aprender a nadar de cero a experto?
                            </strong>
                            Si estás buscando un deporte que te exija para mejorar tu estado fisico y salud, esta actividad es para vos! En nuestra escuela de natación vas a aprender todo lo que necesitas para hacer de este deporte tu habito numero uno. Tenemos diferentes niveles que van desde Inicial, para quienes quieran dar sus primeras brazadas; Intermedio, para quienes ya aprendieron lo básico y pueden empezar a conocer todos los estilos de nado elevando la exigencia fisica; y Avanzado, para quienes ya dominan todos los estilos y pueden realizar los entrenamientos más intensos y desafiantes!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Lado Derecho-->
    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex me-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Pileta </span>
                            <span class="section-heading-lower">Libre</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/images/pilelibre.jpg" alt="..." />
                <div class="product-item-description d-flex ms-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">Si estás buscando un espacio donde realizar tu propio entrenamiento, distendido, con total flexibilidad de horarios y sin la guía de un instructor, nuestros turnos de pileta libre están hechos a tu medida. Súper facíl, solo reserva tu turno en tu horario favorito y listo! Así de sencillo podes venir a nadar en nuestra pileta!</p></div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ms-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Escuela</span>
                            <span class="section-heading-lower">De Futbol</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/images/futbol-nenesJugando.jpg" alt="..." />
                <div class="product-item-description d-flex me-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">Actualmente, nos encontramos con una escuelita de fútbol mixta desde los 5 años de edad hasta los 12, donde chicos y chicas vienen a aprender el deporte y divertirse de la mano de nuestros entrenadores. Además, participamos en una liga anual</p></div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex me-auto rounded">
                        <h2 class="section-heading mb-0">
                            <span class="section-heading-upper">Actividades </span>
                            <span class="section-heading-lower"> De Gimnasio</span>
                        </h2>
                    </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/images/gimnasio-mancuernas.jpg" alt="..." />
                <div class="product-item-description d-flex ms-auto">
                    <div class="bg-faded p-5 rounded"><p class="mb-0">Nuestro Gimnasio Defensores FIT está totalmente equipado para que puedas venir a moverte con una rutina fija en la sala de musculación o sumarte a nuestras clases más divertidas y dinámicas! Te esperamos!</p></div>
                </div>
            </div>
        </div>
    </section>

</body>