@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tenés autorización para ver este contenido.</p>
</header>
