@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmado";
}
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" />


<h1 class="colorLetra textoCentro">@ViewData["Title"]</h1>



