@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/css/styleFormulario.css" />

<section class="formulario-registro">
    <h4>Ingrese su email</h4>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="boton">Enviar</button>
    </form>
</section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
