@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer la confirmación de la contraseña";
}
<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<h1 class="colorLetra textoCentro">@ViewData["Title"]</h1>
<div class="textoCentro">
    <p class="colorLetra">
        Tu contraseña ha sido restablecida <a asp-page="./Login">Haga clic aquí para iniciar sesión </a>.
    </p>
</div>
